  {% assign pages = site.pages | where: "bigNav", true | sort: "order" %}


<nav aria-label="{{ site.data[site.active_lang].strings.aria_smallNav }}" class="smallNav">
  <ul>
    <li>
      <a class="imgLink" href="/"><img src="/assets/img/raspberry-complete-leds.png" title="{{ site.data[site.active_lang].strings.home}}" alt="{{ site.data[site.active_lang].strings.home }}" ></a>
    </li>
    {% for page in pages %}
    <li>
      <a class="imgLink" href="{{ page.url }}"><img aria-hidden="true" src="/assets/img/{{page.page_id}}.png" title="{{ page.link_title }}" alt="{{page.title}}" ></a>
    </li>
    {% endfor %}
  </ul>
</nav>

<nav aria-label="{{ site.data[site.active_lang].strings.aria_bigNav }}" class="bigNav">
  <ul>
    {% for page in pages %}
    <li>
      <a class="imgLink" href="{{ page.url }}"><img aria-hidden="true" src="/assets/img/{{page.page_id}}.png" title="{{ page.link_title }}" alt="{{page.title}}" ></a><br/>
      <span aria-hidden="true" class="bigNavTitle">{{ page.title }}</span>
      {% unless forloop.last %}
      {% endunless %}
    </li>
    {% endfor %}
  </ul>
</nav>


