<footer class="footer">
  &copy; {{ site.data[site.active_lang].strings.copyright_by }}, <span class="poweredBy">v{{ theme.version }}</span>|

  <!-- links with translateable names -->

  {% for page in site.pages %}
  {% if page.page_id == "about" %}
  <a href="{{ page.url }}" title="{{ site.data[site.active_lang].strings.title_impressum }}">{{ site.data[site.active_lang].strings.title_impressum }}</a>
  {% endif %}
  {% endfor %}

  <a href="mailto:{{ site.social.email }}" title="{{ site.data[site.active_lang].strings.link_mailto }}">{{ site.data[site.active_lang].strings.link_mailto }}</a>
  
  <!-- non-translateable links from _config.yml -->
  {% for link in site.social.links %}

  {% for value in link %}
  <a href="{{ value.href }}" target="_blank" title="{{ value.name }}">{{ value.name }}</a>

  {% endfor %}
  {% endfor %}
  
</footer>
