<!-- main logo, always leads to "/", visible on all pages -->
<div class="siteLogo">
  <a class="imgLink" href="/"><img aria-hidden="true" src="/assets/img/raspberry-complete-leds.png" alt="{{ site.data[site.active_lang].strings.home }}" title="{{ site.data[site.active_lang].strings.home }}"></a>
  <span class="bigNavTitle">{{ site.data[site.active_lang].strings.home }}</span>
</div>

<div class="header">
  <a href="#mainContent" aria-label="readerLink" class="skip">{{ site.data[site.active_lang].strings.aria_skipToMain }}</a>
      <!--
	  quick-navigation bar aka sitemap must be rendered like this:
	  [link to index]home > [link to category]category name > [link to post]post title
	  - prevent showing sub-dirs of languages!
	  - prevent showing sub-dirs created by pagination, just the main category page! (categories are named same as their respective pages, which makes this easier)
	  - prevent showing sub-dirs of posts (year, month, etc.) just post.title!
      -->  
  <div aria-hidden="true" class="sitemap">
      <a href="/" aria-hidden="true">{{ site.data[site.active_lang].strings.home }}</a> {% if page.categories %} > <a href="/{{ page.categories }}/{{ page.categories }}.html" aria-hidden="true">{{ page.categories | downcase | replace: "[", "" | replace: "]", "" | replace: '"', "" }}</a> {% elsif page.page_id != "index" %} > <a href="{{ page.url }}" aria-hidden="true">{{ page.page_id }}</a> {% endif %}
      {% if page.layout == "post" %} > <a href="{{ page.url }}">{{ page.title | downcase }}</a> {% endif %}
  </div>

  <h1>{{ page.title }}</h1>
  
</div>

<nav aria-label="{{ site.data[site.active_lang].strings.aria_langSwitch }}" class="langSwitch">
  <ul>
    {% assign title_english = site.data[site.active_lang].strings.title_lang_english %}
    {% assign title_german = site.data[site.active_lang].strings.title_lang_german %}
    {% assign title_ukrainian = site.data[site.active_lang].strings.title_lang_ukrainian %}  
    {% for tongue in site.languages %}
    <li><a{% if tongue == site.active_lang %} style="text-decoration: none;" class="activeLang" {% endif %} {% static_href %}
	     href="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %}{% if tongue == "en" %} title="{{ title_english }}" {% endif %}{% if tongue == "de" %} title="{{ title_german }}" {% endif %}{% if tongue == "uk" %} title="{{ title_ukrainian }}" {% endif %}>{{ tongue }}</a></li>
    {% endfor %}
  </ul>
</nav>
      

<!--       %- if forloop.last == false -% {" "}{ site.langsep } %- endif -% -->
