    <!-- trail pagination -->
  {% if paginator.total_pages > 1 %}
  <ul aria-label="{{ site.data[site.active_lang].strings.aria_postPagination }}" class="pager">
      {% if paginator.first_page %}
      <li class="previous">
          <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="{{ site.data[site.active_lang].strings.page_first }}">{{ site.data[site.active_lang].strings.page_first }}</a>
      </li>
      {% endif %}

      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="{{ site.data[site.active_lang].strings.page_previous }}"><span aria-hidden="true">&larr;</span></a>
      </li>
      {% endif %}

      {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li {% if page.url == trail.path %}class="selected"{% endif %}>
              <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}} - {{ trail.num }}">{{ trail.num }}</a>
          </li>
        {% endfor %}
      {% endif %}

      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="{{ site.data[site.active_lang].strings.page_next }}"><span aria-hidden="true">&rarr;</span></a>
      </li>
      {% endif %}

       {% if paginator.last_page %}
      <li class="previous">
          <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="{{ site.data[site.active_lang].strings.page_last }}">{{ site.data[site.active_lang].strings.page_last }}</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}	
