	  <ul aria-label="{{ site.data[site.active_lang].strings.aria_postList }}" class="postList">
	    {% for post in paginator.posts %}
	    <li>

		<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		<div class="postDate">
		  {{ post.date | date: "%d.%m.%Y %H:%M" }}
		</div>

	      
	      <span class="excerpt">
		  {{ post.excerpt | strip_html | truncate: "25" }}
	      </span>
	    </li>
	    {% endfor %}
	  </ul>
