
/**
* CLASSES FOR MARKDOWN EXTENSION
*/
.codeblock {
    padding-top: 0.5em;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    background-color: var(--highlight-3);
    color: var(--dark-text);
    border-left: 3px solid var(--brand-color);
    border-radius: 6px;
    font-family: Mono;
    font-weight: bold;
    white-space: pre;
    display: inline-block;
}

