:root {
    --brand-color: #e09f1b; 
    --header-background: #0d0800;
    --standard-text: #fff8eb;
    --dark-text: #332200; 
    --body-background: #050505;
    --highlight-1: #ccc0ad;
    --highlight-2: #999082;
    --highlight-3: grey;
    --license-background: #88b1eb /* #1a68d5*/;
}

