---
permalink: /404.html
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p><strong>{{ site.data[site.active_lang].strings.not_found }} :(</strong></p>
  <p>{{ site.data[site.active_lang].strings.not_found_verbose}}</p>
</div>
