---
layout: compress
---

<!doctype html>

<html lang="{{ site.active_lang }}">

  <head>
    <meta charset="utf-8">

    {% seo %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/assets/css/jekyll-theme-soami.css" media="all" >
    
  </head>
  
  <body>
    <div class="wrapper">
      
      {% include header.html %}

      {% include bignav.html %}

      <main class="body" id="mainContent">
	<div class="content">
  	  {{ content }}	  
	  {% include postlist.html %}
	</div>
	{% include pagination.html %}
      </main>

      {% include footer.html %}      

    </div>
  </body>  
</html>
