---
layout: default
---

<p class="postHeader">{{ page.date | date: "%d.%m.%Y %H:%M" }}</p>

{{ content }}

<p class="postHeader postFooter">{{ site.data[site.active_lang].strings.license }}: <a href="{{page.license.link}}">{{ page.license.short }}</a></p>
