@font-face {
    font-family: Merriweather;
    src: url(/assets/fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: Merriweather;
    src: url(/assets/fonts/Merriweather-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Merriweather;
    src: url(/assets/fonts/Merriweather-Italic.ttf);
    font-style: italic;
}
