body {
    background-color:var(--header-background);
    color: var(--standard-text);
    font-family: "Georgia", "Merriweather", "Times New Roman", serif;
    letter-spacing: 0.03em;
    line-height: 1.8;
    font-size: 1.02em; 
}

h1 {
    padding-left: 0.5em;
    color: var(--brand-color);
}

a:link {
    font-family: Courier;
    font-weight: bold;
    color: var(--standard-text);
}

a:visited {
    color: var(--brand-color);
}

a:hover {
    font-style: italic;
    cursor: pointer;
    color: var(--license-background);
}

/**
* GRID DEFINITION
**/

.wrapper {
    position: absolute;
    left: 0em;
    top: 0em;
    width: 100%;
    display: grid;
    grid:
	"siteLogo header langSwitch" auto
	"bigNav  body body" 1fr
	"footer footer footer" auto
	/ auto 1fr auto;
  gap: 0em;
  background-color: var(--body-background);
}

/**
* GRID ELEMENTS DEFINITION
**/

/* hovering state for site logo and bigNav links */
.imgLink:hover {
    opacity: 0.7;
}

.siteLogo {
    grid-area: siteLogo;
    background-color: var(--header-background);
    padding-bottom: 0em;
}

.skip {
    display: none;
}

.header {
    grid-area: header;
    background-color: var(--header-background);
    padding-bottom: 0em;
}

.sitemap {
    display: inline-block;
    text-align: left;
    font-size: 1.5em;
    padding-left: 1em;
    padding-top: 0.6em;
    letter-spacing: 0.2em;
    color: var(--highlight-2);
    font-family: Courier;
}

.sitemap a:link {
    color: var(--highlight-2);
}

.sitemap a:visited {
    color: var(--highlight-2);
}

.sitemap a:hover {
    font-style: normal;
    color: var(--license-background);
}

.langSwitch {
    margin-top: 0em;
    margin-bottom: 0em;    
    padding-top: 0.5em;
    padding-right: 2em;
    grid-area: langSwitch;
    text-align: right;
    background-color: var(--header-background);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    height: auto;
    width: auto;
}

.langSwitch ul {
    list-style-type: none;
}

.langSwitch li {
    margin-right: 0.3em;
    display: inline;
}

.langSwitch ul a:link {
    text-decoration: underline;
}

.langSwitch ul a:active {
    text-decoration: none;
}

.langSwitch ul a:visited {
    color: var(--standard-text);
}

.langSwitch ul .activeLang:hover {
    font-style: normal;
    cursor: auto;
}

.bigNav {
    grid-area: bigNav;
    margin-top: 0.5em;
    padding-left: 0em;
    padding-right: 1em;
}

.bigNav ul {
    list-style-type: none;
    padding-left: 0em;    
    
}

.bigNav li {
    padding-bottom: 0.5em;
}

.bigNav li hr {
    margin-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 0em;
}

.bigNavTitle {
    display: flex;

    justify-content: center;
    font-family: Mono;
}

.smallNav {
    display: none;
    grid-area: header;
    list-style-type: none;
}

main {
    grid-area: body;
    margin-top: 0.5em;
    background-color: var(--body-background);
    margin-right: 2.5em;
    margin-left: 0.5em;
}

.content {
    min-height: 60vh;
    width: 60vw;
	border: 1px solid var(--highlight-1);
	padding-right: 1em;
	padding-left: 1.5em;
	padding-bottom: 2em;
	margin-bottom: 2em;
	hyphens: auto;
}

.content img {
    max-width: 100%;
}

.content .postHeader {
    background-color: var(--highlight-1);
    padding: 0.5em;
    text-align: right;
    border-left: 4px solid var(--brand-color);
    border-radius: 6px;
    color: var(--dark-text);
    font-family: Mono;
    box-shadow: 5px 5px var(--highlight-2);
}

.content .postFooter {
    background-color: var(--license-background);
    font-family: Mono;    
}

.postFooter a:link {
    color: var(--dark-text);
}

.postList {
    padding-left: 0em;
    list-style-type: none;
    line-height: 2;
}

.postList li {
}

.postList {
    text-align: left;
    padding-left: 0.5em;
    width: 100%;
}

.excerpt {
    text-indent: 0.5em;
    line-break: normal;
}

.pager {
    padding-left: 0em;
    list-style-type: none;
}

.pager .selected {
    background-color: var(--highlight-3);
}

.pager li {
    display: inline;
    border: 2px solid var(--highlight-3);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    text-align: right;
}

.pager li:hover {
    background-color: var(--highlight-3);
}

.pager a {
    font-family: Mono;
    font-weight: bold;
    text-decoration: none;
}

.pager a:hover {
    font-style: normal;
}

.footer {
    grid-area: footer;
    margin-top: 1em;
    padding-bottom: 0em;
    text-align: left;
    padding-top: 1.5em;
    padding-left: 1.5em;
    background-color: var(--header-background);
}

.poweredBy {
    margin-left: 1em;
    margin-right: 1.2em;
}

.footer a {
    padding-left: 1.3em;
}
