/**
* CUSTOM SETTINGS PORTRAIT MODE aka responsive web design
* you will probably end up activating this mode if you are on a desktop with vertically oriented screen. You're welcome.
*/
@media only screen and (orientation: portrait) {
    body {
	font-size: 1.2em;
    }
    
    /**
     * reorganize grid:
     * put siteLogo full width on top (smallNav will be shown there, actual siteLogo will be hidden)
     * put langSwitch and header below
     * make body the full width of screen
     * leave footer on the bottom as is
     */
    .wrapper {
	grid:
	    "siteLogo siteLogo siteLogo" auto
	    "langSwitch header header" auto
	    "body body body" 1fr
	    "footer footer footer" auto
	    / auto 1fr auto;
    }    
    /* don't display separate logo, it will go inside smallNav */
    .siteLogo {
	display: none;
    }
    .body {
	margin-left: 0.5em;
	margin-right: 0.5em;
    }
    /* justify header on the left and center it vertically */
    .header {
	display: flex;
	justify-content: left;
	align-items: center;
	vertical-align: middle;
	width: auto;
    }
    /* don't waste space with sitemaps, we have small nav active now */
    .sitemap {
	display: none;
    }
    .langSwitch {
	text-align: left;
	font-size: 2em;
	padding-bottom: 0.5em;
	height: auto;
	width: auto;
    }
    /* don't show languages inline, we have lots of vert space now */
    .langSwitch li {
	display: list-item;
    }

    /* disable bigNav, we have no horizontal space for it */
    .bigNav {
	display: none;
    }
    /* put smallNav where siteLogo used to be, it will take up whole top of screen */
    .smallNav {
	grid-area: siteLogo;
	margin: 0em;
	line-height: 2em;
	padding: 0.8em;
	display: inline;
	background-color: var(--header-background);
    }
    .smallNav li {
	display: inline;
    }
    /* style the links in smallNav to fit general design */
    .smallNav a {
	padding-right: 0.5em;
    }
    .smallNav .activePage:hover {
	font-style: normal;
	cursor: auto;
    }
    .content {
	width: auto;
    }
	
    .pager {
	padding-top: 0.5em;
    }
    .pager li {
	padding: 0.5em;
	font-size: 1em /*pt*/;
    }
    .footer {
	margin-top: 0.5em;
    }
}
