/**
* this CSS should only load, when a user calls the browsers internal print-dialog
**/

@media only print {
    /* going back to black on white background, yuck! But this is best for print */
body {
    background-color: white;
    color: black;
}

.wrapper {
    position: absolute;
    left: 0em;
    top: 0em;
    width: 100%;
    display: grid;
    grid:
	"header header header" auto
	"body body body" 1fr
	"footer footer footer" auto
	/ auto 1fr auto;
  gap: 0em;
}

.skip {
    display: none;
}

.siteLogo {
    display: none;
}

.bigNav {
    display: none;
}

.smallNav {
    display: none;
}

.header {
    grid-area: header;
}

.sitemap {
    display: none;
}

.langSwitch {
    display: none;
}

main {
    gridArea: "body";
}

.content {
    width: 100%;
}

.content img {
    max-width: 100%;
}

.content .postHeader {
    text-align: right;
    font-family: Mono;
    border: 2px solid grey;
}

.content .postFooter {
    font-family: Mono;
    border: 2px solid grey;
}

.postList {
    padding-left: 0em;
    list-style-type: none;
    line-height: 2;
    text-align: left;
    padding-left: 0.5em;
    width: 100%;    
}

.excerpt {
    text-indent: 0.5em;
    line-break: normal;
}

.pager {
    display: none;
}

.footer {
    border-top: 2px solid black;
    grid-area: footer;
    margin-top: 1em;
    padding-bottom: 0em;
    text-align: left;
    padding-top: 1.5em;
    padding-left: 1.5em;
}

.poweredBy {
    margin-left: 1em;
    margin-right: 1.2em;
}

.footer a {
    padding-left: 1.3em;
}


}
