/**
* how to determine, if a client is a speech-device, aka relys on screen reader?
* there used to be a media-type speech, but it is obsolete now according to W3C
* we should be using hooks, that probe for certain features and thus determine what kind of device is accessing the content
* apparently, screen-reader devices don't have an aspect-ratio set.
*
* NB: a SoamI website is highly accessible.
* It should work fine with screen readers in any case. If this CSS gets loaded, 
* it should make the content easier to see for visually impared users.
**/

@media only screen and (device-aspect-ratio: false) {
body {
    font-size: 2em;
    background-color: black;
    color: white;
}

a:link {
    font-family: Courier;
    font-weight: bold;
}

a:visited {
    color: red;
}

a:hover {
    font-style: italic;
    cursor: pointer;
    color: var(--license-background);
}

.wrapper {
    position: absolute;
    left: 0em;
    top: 0em;
    width: 100%;
    display: grid;
    grid:
	"header header langSwitch" auto
	"bigNav  body body" 1fr
	"footer footer footer" auto
	/ auto 1fr auto;
  gap: 0em;
  background-color: var(--body-background);
}

.siteLogo {
    display: none;
}

.skip {
    display: inline;
}

.header {
    grid-area: header;
    background-color: var(--header-background);
    padding-bottom: 0em;
}

.sitemap {
    display: none;
}

.smallNav {
    gridArea: bigNav;
    display: block;
}

.bigNav {
    display: none;
}

main {
    grid-area: body;
    margin-top: 0.5em;
    background-color: var(--body-background);
    margin-right: 2.5em;
    margin-left: 0.5em;
}

.content {
    min-height: 60vh;
    width: 60vw;
	border: 1px solid var(--highlight-1);
	padding-right: 1em;
	padding-left: 1.5em;
	padding-bottom: 2em;
	margin-bottom: 2em;
	hyphens: auto;
}

.content img {
    max-width: 100%;
}

.content .postHeader {
    background-color: var(--highlight-1);
    padding: 0.5em;
    text-align: right;
    border-left: 4px solid var(--brand-color);
    border-radius: 6px;
    color: var(--dark-text);
    font-family: Mono;
    box-shadow: 5px 5px var(--highlight-2);
}

.content .postFooter {
    background-color: var(--license-background);
    font-family: Mono;    
}

.postList {
    padding-left: 0em;
    list-style-type: none;
    line-height: 2;
}

.postList li {
}

.postList {
    text-align: left;
    padding-left: 0.5em;
    width: 100%;
}

.excerpt {
    text-indent: 0.5em;
    line-break: normal;
}

.pager {
    padding-left: 0em;
    list-style-type: none;
}

.pager .selected {
    background-color: var(--highlight-3);
}

.pager li {
    display: inline;
    border: 2px solid var(--highlight-3);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    text-align: right;
}

.pager li:hover {
    background-color: var(--highlight-3);
}

.pager a {
    font-family: Mono;
    font-weight: bold;
    text-decoration: none;
}

.pager a:hover {
    font-style: normal;
}

.footer {
    grid-area: footer;
    margin-top: 1em;
    padding-bottom: 0em;
    text-align: left;
    padding-top: 1.5em;
    padding-left: 1.5em;
    background-color: var(--header-background);
}

.poweredBy {
    margin-left: 1em;
    margin-right: 1.2em;
}

.footer a {
    padding-left: 1.3em;
}

}
